.Box {
    border: 2px solid lightblue;
    margin: 10px;
}

.Box2 {
    border: 2px solid lightcoral;
    margin: 10px;
}

.Box3 {
    border: 2px solid lightgreen;
    margin: 10px;
}

.Box4 {
    border: 2px solid lightgray;
    margin: 10px;
}