h1:hover {
    color: red;
}

a:active {
    background-color: blue;
}

input:focus {
    background-color: orange;
}

.stripes {
    background-color: navy;
    color: white;
}

.stripes div:nth-child(2),
.stripes div:nth-child(6),
.stripes div:nth-child(10) {
    background-color: yellow;
    color: black;
}