<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <form name="visitor-form">
        <fieldset>
          <legend>방명록 등록</legend>
          <input type="text" id="name" placeholder="사용자 이름" /> <br />
          <input type="text" id="comment" placeholder="방명록" /> <br />
          <div id="button-group">
            <button type="button" onclick="createVisitor();">등록</button> <!-- **1. onclick으로 함수 호출 -->
          </div>
        </fieldset>
    </form>                   
    <br />
    
    <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>작성자</th>
            <th>방명록</th>
            <th>수정</th>
            <th>삭제</th>
          </tr>
        </thead>
        <tbody>
          <!-- data: db에서 가지고 오는 데이터 => 새로고침해도 데이터 남아있음 -->
           <!-- *5. 컨트롤러가 보낸 응답 데이터를 화면에 보여줌. -->
          <% for (let i = 0; i < data.length; i++) { %>
          <tr id="tr_<%= data[i].id %>">
            <td><%= data[i].id %></td>
            <td><%= data[i].name %></td>
            <td><%= data[i].comment %></td>
            <td>
              <button type="button">수정</button>
            </td>
            <td>
              <button type="button">삭제</button>
            </td>
          </tr>
          <% } %>
          
        </tbody>
    </table>

    <a href="/">HOME</a>

    <script src="/static/visitor.js"></script>
</body>
</html>