@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@media screen and (min-width: 500px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 300px) {
    body {
        background-color: orange;
    }
}

@media screen and (max-height: 300px) {
    p {
        font-family: 'HSSanTokki20-Regular';
    }
}

@media screen and (min-height: 500px) {
    p {
        background-color: green;
    }
}