.body{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 게시글 상세 페이지 스타일 */
.detail_container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  line-height: 1.6;
}

.detail_title {
  font-size: 1.5rem;
  font-weight: bold;
}

.detail_writer {
  font-size: 1rem;
  color: #666;
}

.detail_time {
  font-size: 1rem;
  color: #999;
  margin-bottom: 20px;
}

.detail_content {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.detail_button_wrapper {
  display: flex;
  justify-content: flex-end;
}

.detail_button_wrapper button {
  background-color: #64c6ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}

.detail_button_wrapper button:hover {
  background-color: #0093d5;
}
.detail_inform_wrapper{
  display: flex;
  flex-direction: row;
}