$color-header: rgb(31, 141, 177);
$color-list: lightblue;
$color-border: rgb(31, 141, 177);
$color-headerText: white;
$color-gray: gray;

.header {
  background-color: $color-header;
  color: $color-headerText;
}

.postlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  .list {
    background-color: $color-list;
    border: 1px solid $color-border;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 800px;
    box-shadow: 5px 5px 5px 5px $color-gray;
  }

  .postId {
    color: $color-header;
  }

  .postTitle {
    color: $color-gray;
  }
}
