<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>댓글 자세히 보기</h1>
    <a href="/comments">목록 보기</a>

    <div><%= comment.userid %> 님의 댓글입니다.</div>
    <div><%= comment.date %></div>
    <div><%= comment.comment %></div>
</body>
</html>