/* 웹 폰트 (web-font) */
/* 
    - 구글 웹 폰트, 눈누 웹 사이트
    - 모든 브라우저에서 보는 폰트를 통일
    - 폰트를 다운로드 하는것이 아니라 link 태그에 걸려 있는 주소에서
        폰트를 가져오는 방식
    - 보통 기본 폰트는 body 태그에 작성.
*/
@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    /* font-family: "Permanent Marker", cursive; */
    /* "Permanent Marker 사용, 없다면 cursive로 쓸거야 */
    font-family: 'Ownglyph_ryurue-Rg';
}

h1 {
    font-family: "Permanent Marker", cursive;
}

h2 {
    font-family: "Danfo", serif;
}

@font-face {
    font-family: 'TTHakgyoansimDotbogiR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimDotbogiR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

div {
    /* height: 300px; */
    /* 색상 */
    /* 글자색 */
    /* color: aquamarine; */
    /* 배경색 */
    /* background-color: pink; */
    /* 배경 그라데이션 */
    /* background grdient */
    /* background: linear-gradient(blue, pink); */
    /* background: linear-gradient(to right, blue, pink); */
    /* background: linear-gradient(230deg, royalblue, pink); */

    /* -------------------------------- */

    /* 폰트 크기 */
    /* font-size: 50px; */
    /* font-size: 16px; 기본폰트 사이즈 */

    /* 
        폰트 굴기
        - lighter, normal, bold, bolder
        - 100 ~ 900
    */
    /* font-weight: 900; */

    /* 
        폰트 모양
        - normal, italic, oblique
    */
    /* font-style: oblique 70deg; 기울기 각도 조절 */

    /* 
        정렬
        - center, left, right, justify(양쪽 정렬)
    */
    /* text-align: center; */

    /* 
        글자선
        - underline, line-through, overline, none
    */
    /* text-decoration: line-through; */

    /* 
        줄 높이
        - px, 1.2(default)
    */
    /* line-height: 4; */


    /* ----------------------------------------------- */

    /* 크기 */
    /* min-width, min-height, max-width, max-height */
    /* width: 300px; */
    /* height: 500px; */

    /* 테두리 */
    border-style: solid; /*테두리 두께*/
    border-width: 4px;
    border-color: limegreen;

    /* 테두리 단축 프로퍼티 */
    /* border : [border-width] [border-style] [border-color]*/

    /* 한쪽 테두리만: top, bottom, right, left */
    /* border-top, border-bottom, border-right, border-left */
    border-top: 5px solid red;

    /* 모서리 둥글기 */
    /* border-radius: 20%; */

    /* 4방향 다 다르게 주기 */
    /* border-radius: 10px 20px 0 30%; */

    /* 원 만들땐 50% 주기 */
    /* border-radius: 50%; */

    /* -------------------------------- */

    /* 여백 */
    /* padding-top, padding-bottom, padding-left, padding-right */
    /* margin-top, margin-botton, margin-left, margin-right */

    /* margin: 50px; */
    /* padding: 20px; */

    /* 방향별 속성 단축 형식 */
    /* margin: 10px; */
    /* 상, 우, 하, 좌 모두 10px */
    /* margin: 10px 50px; */
    /* 상하 10px 좌우 50px */
    /* margin: 10px 20px 30px; */
    /* 상 10. 좌우 20 하 30 */
    /* margin: 10px 20px 30px 40px; */
    /* 상 10 우 20 하 30 우 40 */
}

.backgroundI {
    height: 300px;
    background-color: coral;
    /* 이미지 없음 */
    /* background-image: none; */
    /* 이미지 경로 */
    background-image: url(./image/하트.webp);

    /* 이미지 반복 */
    background-repeat: repeat; /*default*/
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;

    /* 이미지 위치 */
    /* background-position: center; */
    /* background-position: 50px; */

    /* 이미지 크기 */
    /* 이미지 실제 크기 */
    background-size: auto;
    /* background-size: 35em; */

    /* 비율 유지 - 요소의 더 넓은 너비에 맞춤 (가로가 크다면 가로 기준에 맞춤)*/
    background-size: cover;
    /* 비율 유기 - 요소의 더 짧은 너비에 맞춤 */
    background-size: contain;

    /* 배경 이미지 스크롤 특성 */
    background-attachment: scroll;
    background-attachment: fixed;
    background-attachment: local;
}