div {
    height: 250px;
    width: 250px;
    background-image: url(./image/곰돌이.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: skyblue;
    background-size: 60%;
    border: 5px solid white;
    outline: 8px solid green;
    border-radius: 50%;
    margin: 10px;
}
