div {
    width: 250px;
    height: 250px;
}
.out {
    border: 5px solid blue;
    border-radius: 50%;
    padding: 8px;
}

.in {
    background-image: url(./image/곰돌이.jpeg);
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-position: center;
    border-radius: 50%;
}