/* 하위(후손) 선택자 : 공백(띄어쓰기) */
body section {
    /* 테두리(경계선): 두께 선스타일 선색상 */
    border: 1px solid blue;
}

body section h2 {
    border: 1px solid green;
}

/* 자식 선택자 : < (X) > (O) */
.first > h2 {
    color: white;
    background-color: navy;
}

.second > h2 {
    color: navy;
    background-color: white;
}

/* 인접 형제 선택자 : +  -> 선택한 선택자의 다음 태그를 선택*/
/* 주의) lion이라는 아이디를 갖는 요소 바로 뒤에 li 태그가 있어야 함 */
#lion + li {
    background-color: aqua;
}

/* 일반 형제 선택자 : ~ */
#lion ~ li {
    color: red;
}

/* css 색상 */
/* 
    1. 색상 키워드: red, blue, aqua, white ...
    2.  16진수 코드(#XXXXXX)
    0 ~ 9, a, b, c, d, e, f : 16개의 기호로 표현
    - #ffffff: red(ff), green(ff), blue(ff) -> white
    - #000000: red(00), green(00), blule(00) -> black
    3. rgb(0~255, 0~255, 0~255)
    - rgb(255, 255, 255) : white
    - rgb(0, 0, 0) : black
*/
