<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/setup/head.ejs') %>
  <link rel="stylesheet" href="/st/404Style.css">
<body>
  <%- include('partials/component/signInHeader.ejs') %>
  Sorry to meet this page
  we've got 404
  <div class ='image_404'></div>
  <p><%= message %></p>
  <a href="/">로그인 페이지로 돌아가기</a>
</body>
  <%- include('partials/setup/tail.ejs') %>
</html>