<!DOCTYPE html>
<html lang="ko">
  <%- include('partials/setup/head.ejs') %>
  <link rel="stylesheet" href="/st/member.css">
<body>
  <%- include('partials/component/noSignInHeader.ejs') %>
  <div class="signup_form">
    <form id="signupForm">
      <p class="signup_title">회원가입 페이지 입니다!</p>
      <input type="text" id="username" placeholder="사용자 이름" required>
      <div class="username_check">4글자 이상의 이름이 필요합니다!</div>
      <input type="password" id="userpassword" placeholder="비밀번호" required>
      <div class="label">
        <input type="checkbox" id="readmecheck">
        <div class="open_modal_btn">주의사항!을 읽고 체크해주세요!</div>
      </div>
    </form>
    <button class="signup_btn" onclick="signupSubmit()">회원가입</button>
    <hr>
    <div class="links">
        <a href="/">로그인</a>
    </div>
  </div>
  <div class="modal">
    <div class="modal_body">
        <span class="close_btn">&times;</span>
        <p class="modal_title">주의사항</p>
        <textarea class="modal_textArea"style="resize: none;"> 본 문서는 기능의 구현을 목표로 시험적으로 작성된 문서입니다.김치찌개 스파게티 초밥 피자 불고기 라멘 햄버거 삼겹살 치킨 파스타 비빔밥 카레 돈까스 짜장면 샐러드 스테이크 김밥 타코 샌드위치 떡볶이 짬뽕 된장찌개 팟타이 라자냐 스시 볶음밥 냉면 탕수육 케밥 파엘야 순대 마라탕 샤브샤브 칼국수 감자탕 부리또 오므라이스 쌀국수 만두 닭갈비 리조또 잡채 갈비찜 샤오롱바오 나시고렝 훈제오리 토마토스프 미소라멘 고등어구이 팬케이크 돼지갈비 닭꼬치 빠에야 김치전 마카로니앤치즈 갈비탕 토스트 육개장 샐러드롤 돈부리 떡국 파니니 삼계탕 치즈버거 순두부찌개 나초 부대찌개 타르트 쭈꾸미볶음 케사디야 콩국수 감바스 물회 퀘사디야 갈비찜 와플 곱창 크로켓 닭볶음탕 브리또 밀푀유나베 마파두부 알밥 빙수 계란말이 수프림피자 파스타알라보스카이올라 새우튀김 모듬초밥 불닭볶음면 김치볶음밥 해물파전 크림파스타 갈비 닭강정 라조기 치즈케이크 찜닭 마르게리타피자 칠리새우김치찌개 스파게티 초밥 피자 불고기 라멘 햄버거 삼겹살 치킨 파스타 비빔밥 카레 돈까스 짜장면 샐러드 스테이크 김밥 타코 샌드위치 떡볶이 짬뽕 된장찌개 팟타이 라자냐 스시 볶음밥 냉면 탕수육 케밥 파엘야 순대 마라탕 샤브샤브 칼국수 감자탕 부리또 오므라이스 쌀국수 만두 닭갈비 리조또 잡채 갈비찜 샤오롱바오 나시고렝 훈제오리 토마토스프 미소라멘 고등어구이 팬케이크 돼지갈비 닭꼬치 빠에야 김치전 마카로니앤치즈 갈비탕 토스트 육개장 샐러드롤 돈부리 떡국 파니니 삼계탕 치즈버거 순두부찌개 나초 부대찌개 타르트 쭈꾸미볶음 케사디야 콩국수 감바스 물회 퀘사디야 갈비찜 와플 곱창 크로켓 닭볶음탕 브리또 밀푀유나베 마파두부 알밥 빙수 계란말이 수프림피자 파스타알라보스카이올라 새우튀김 모듬초밥 불닭볶음면 김치볶음밥 해물파전 크림파스타 갈비 닭강정 라조기 치즈케이크 찜닭 마르게리타피자 칠리새우김치찌개 스파게티 초밥 피자 불고기 라멘 햄버거 삼겹살 치킨 파스타 비빔밥 카레 돈까스 짜장면 샐러드 스테이크 김밥 타코 샌드위치 떡볶이 짬뽕 된장찌개 팟타이 라자냐 스시 볶음밥 냉면 탕수육 케밥 파엘야 순대 마라탕 샤브샤브 칼국수 감자탕 부리또 오므라이스 쌀국수 만두 닭갈비 리조또 잡채 갈비찜 샤오롱바오 나시고렝 훈제오리 토마토스프 미소라멘 고등어구이 팬케이크 돼지갈비 닭꼬치 빠에야 김치전 마카로니앤치즈 갈비탕 토스트 육개장 샐러드롤 돈부리 떡국 파니니 삼계탕 치즈버거 순두부찌개 나초 부대찌개 타르트 쭈꾸미볶음 케사디야 콩국수 감바스 물회 퀘사디야 갈비찜 와플 곱창 크로켓 닭볶음탕 브리또 밀푀유나베 마파두부 알밥 빙수 계란말이 수프림피자 파스타알라보스카이올라 새우튀김 모듬초밥 불닭볶음면 김치볶음밥 해물파전 크림파스타 갈비 닭강정 라조기 치즈케이크 찜닭 마르게리타피자 칠리새우
        </textarea>
    </div>
  </div>
</body>
  <%- include('partials/setup/tail.ejs') %>
  <script src="/sc/member.js"></script>
</html>