<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %></title>
    <link rel="stylesheet" href="/style.css"> <!-- 최종적으로 들어갈 파일을 기준으로 경로를 해야함. -->
<!-- 절대경로 그냥 css 파일은 저렇게 쓴다고 알아두자. -->
</head>