<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project <%= title %></title>
</head>
<body>
    <nav>
        <div>
            <a href="/"><h1>My Blog</h1></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
    <div>
        <h1>HOME</h1>
    </div>






    <!-- <%= 10 - 2 %>
    <%= true ? "참" : "거짓" %>
    <%# 주석입니다. %>

    <% for(let i = 0; i < 5; i++) { %>
        <h1>hello</h1>
        <% } %> -->
<!-- 자바스트립트부분에 해당하는 곳은 각 줄에 다 써야함. 즉, 열고 닫는 부분에 다 쓰면 됨.-->

</body>
</html>