.container {
  background-color: lightgoldenrodyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.header {
  color: orange;
}

p {
  font-weight: bold;
}

img {
  width: 200px;
}
